# next.js
/.next/
/out/

# node
/node_modules
npm-debug.log*

# env
.env
.env.local
.env.*.local

# build
/build
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# supabase
supabase/.temp
supabase/.branches

# vercel
.vercel

# testing
/coverage

# temp/delete folders
/_to_delete
